# Configuration file

~CONFIG_VERSION: 0.1.0

world-78688046 {
    # Показывать список закладок рядом с открытым интерфейсом.
    B:bookmarkOverlayEnabled=false

    # Брать предметы вместо отображения рецепта.
    B:cheatItemsEnabled=false

    # Скрывать и показывать предметы в списке нажатием клавиши по ним.
    B:editEnabled=false
    S:filterText=@project

    # Показывать список предметов рядом с открытым интерфейсом.
    B:overlayEnabled=true
}


world113318802 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@gregt
    B:overlayEnabled=true
}


world114737 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=bronz
    B:overlayEnabled=true
}


world127644227 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=circu
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1568 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=арди
    B:overlayEnabled=true
}


world1855637915 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=brick
    B:overlayEnabled=true
}


world954785539 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=desh
    B:overlayEnabled=true
}


